Package: islami-test
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-pyqt6, libqt6multimedia6
Maintainer: mobilturka <github.com/03tekno>
Description: PyQt6 ile hazırlanmış İslami Bilgi Yarışması.
 1400 karma soru ile
